<h1>TU BLOG FAVORITO</h1>
<h5>
  Ponte al día con las noticias más frescas y publica para que otros puedan
  leerte
</h5>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="mb-3">
        <select class="form-select" (change)="onChange($event)">
          <option value="todo">Mostrar todo</option>
          @for (categoria of categorias; track $index) {
          <option [value]="categoria">{{ categoria }}</option>
          }
        </select>
      </div>
    </div>
  </div>

  <div class="row posts">
    @for (post of arrPosts; track $index) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="post">
        <h3>{{ post.titulo }}</h3>
        <img [src]="post.imagen" class="img-fluid" />
        <p class="autor">{{ post.autor }}</p>
        <p class="texto">{{ post.texto }}</p>
        <div class="foot">
          <p class="categoria">{{ post.categoria }}</p>
          <p class="fecha">{{ post.fecha }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
